.div-container-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.container-card {
    margin-top: 50px;
    width: 350px;
    height: auto;
    border: 1px solid black;
}
.container-img {
    background-size: cover;
    border: 1px solid black;
}
.img-product {
    width: 100%;
    height: auto;
}
.container-card_product {
    padding: 2%;
}
.text-card-product {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
}
.text-card-price,
.text-card-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}