.div-container-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
    justify-content: center;
    align-items: center;
}

.container-card {
    margin-top: 50px;
    width: 350px;
    height: auto;
    border: 3px solid rgb(75, 73, 73);
    box-shadow: 0 0 15px #181719;
    padding: 3%;
    border-radius: 70px 0px;
}
.container-img {
    text-align: center;
    width: 100%;
    height: 260px;
    background-color: #000000cc;
    box-shadow: 0 0 10px #181719;
    background-size: cover;
    border: 1px solid black;
    border-radius: 50%;
}
.img-product {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    height: -webkit-fill-available;
}

.text-card-product {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
}
.text-card-price,
.text-card-description {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.link-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-ir-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    height: auto;

}
.ir-carrito {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: #181719;
    border-radius: 20px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.h-stock-agregado {
    margin-top: 10px;
}
.center-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
