.main-section {
    width: 100%;
    height: auto;
    padding: 1% 5%;
}

.h1-saludo {
    margin-top: 20px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 5rem;
}
.h2-listado {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.container-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 90px;
    justify-content: center;
    align-items: center;
}