.div-container-cart-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
.h-cart-products {
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
}

.div-container-products-in-cart-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}
.div-container-product-in-cart {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: auto;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #181719;
    margin-top: 15px;
}
.div-img-product-in-cart{
    width: 40%;
    height: auto;
    text-align: center;
}
.img-product-in-cart {
    width: 70%;
    height: auto;
}
.div-details-product-in-cart{
    width: 60%;
    height: auto;
}
.h2-item-title-in-cart {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}
.p-in-cart {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}
.btn-products-in-cart {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #181719;
    border: #181719;
    box-shadow: 0 0 10px #181719;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}
.btn-products-in-cart:hover {
    font-weight: 700;
    background: red;
}

.div-total-in-cart {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}
.a-checkout-in-cart{
    display: block;
    width: 50%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    align-self: center;
    color: #ffffff;
    background: #181719;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #181719;
}
.a-checkout-in-cart:hover {
    color: #ffffff;
    background: green;
    font-weight: 700;
}